*{ /* include padding & border in an element's total width & height*/
    box-sizing: border-box;
}
ul{ /* remove margins & padding from the list*/
    margin: 0px;
    padding: 0px;
}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #ffffff;
    font-size: 18px;
    transition: 0.2s;
/* make the list items unselectable (prevent text selection)*/
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; 
    -ms-user-select: none; /* IE 10 & IE 11 */
    user-select: none; /* Standard syntax */
}

ul li:nth-child(odd){
    background: #f9f9f9;
}

ul li:hover{
    background: #ddd;
}